<h3 class="text-warning">
  Danh sách ghế đã đặt ({{ bookingSeatList.length }})
</h3>
<h4>Tổng tiền: ${{ calcTotalAmount() }}</h4>
<div class="booking-seat-list">
  <div
    class="booking-seat-item d-flex align-items-center"
    *ngFor="let seat of bookingSeatList"
  >
    <span>Ghế: {{ seat.TenGhe }} ${{ seat.Gia }}</span>
    <button
      class="btn btn-link text-danger text-decoration-none"
      (click)="setBookingSeat(seat)"
    >
      [Hủy]
    </button>
  </div>
</div>
