.driver {
  background-color: #dddddd;
}

.seat-item {
  padding-top: 15px;

  button {
    &.is-booking {
      background-color: #00ba46;
      border-color: #00ba46;
    }

    &:disabled {
      background-color: #ec6d7f;
      border-color: #ec6d7f;
    }
  }
}
